[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "home/powerlevel10k"]
	path = home/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
